<h1>Editing team</h1>

<% form_for(@team) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :sport_id %><br />
	<%= collection_select(:team, :sport_id, Sport.find(:all), :id, :name, {:prompt => true}) %>	
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @team %> |
<%= link_to 'Back', teams_path %>
