<h1>Editing arbitrage</h1>

<% form_for(@arbitrage) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :line1 %><br />
    <%= f.text_field :line1 %>
  </p>
  <p>
    <%= f.label :line2 %><br />
    <%= f.text_field :line2 %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @arbitrage %> |
<%= link_to 'Back', arbitrages_path %>
