<h1>Editing team_synonym</h1>

<% form_for(@team_synonym) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :synonym %><br />
    <%= f.text_field :synonym %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @team_synonym %> |
<%= link_to 'Back', team_synonyms_path %>
