<%= f.error_messages %>

<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>

<p>
  URL<br />
  <%= f.text_field :url %>
</p>
<p>
  Class Name<br />
  <%= f.text_field :class_name %>
</p>
<p>
	XML Feed?<br />
	<%= f.check_box :xml_feed %>
</p>
<p>
	Sleep Time<br />
	<%= f.text_field :sleep_time %>
</p>
<p>
	Referal URL<br />
	<%= f.text_field :website_link %>
</p>
<p>
	Affiliate Code<br />
	<%= f.text_field :affiliate_code %>
</p>
<p>
	<%= f.label :active %><br />
	<%= f.check_box :active %>
</p>
